*{
  margin: 0;
  pad: 0;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(-45deg, #5f75f1, #5b49bebb, #2492b9, #4c85cf);

	background-size: 400% 400%; 
	animation: gradient 20s ease infinite;
}
	
.bg-color{
  background-image: linear-gradient(-45deg, #1c1e29, #231d418f, #182327, #161718);
	background-size: 400% 400%; 
	animation: gradient 30s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.logo{
  width: 50px;
}

.github-icon{
  width: 25px;
}

.top{
  max-width: 800px;
  margin: 50px auto;
}

.contact-btn-container{
  text-align: center;
}

.contact-me-btn{
  padding: 40px 20px;
  border-radius: 50%;
  box-shadow: 2px 12px 0px rgba(0, 0, 0, 0.74);
  text-transform: uppercase;
  color: black;
  font-weight: 800;
}

.contact-me-btn:active{
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.74);
  transform: translateY(10px);
}

.section-title{
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
}

.home-section{
  color: ghostwhite;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

.project1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}

.project1 p{
  margin: 0;
}

.gif{
  width: 100%;
}

h4{
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.left-side{
  min-width: 400px;
}

.line{
  background-color: rgba(0, 0, 0, 0.24);
  height: 1px;
  opacity: 40%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.live-tag{
  font-weight: bold;
  font-size: 1.2rem;
  color: #ff595e;
  text-decoration: none;
}

.live-tag:hover, .repo-tag:hover{
  text-decoration: underline;
}

.repo-tag{
  font-weight: bold;
  font-size: 1.2rem;
  color: #3a445d;
  text-decoration: none;
}

.a-tags{
  display: flex;
  gap: 20px;
}

.html{
 color:  #000000;
 background-image: linear-gradient(90deg, #F16529, #E44D26);
 font-weight: bold;
 padding: 2px 7px;
}

.css{
  background-color: #3C99DC;
  color: #000000;
  font-weight: bold;
  padding: 2px 7px;
}

.js{
  background-color: #F0DB4F;
  color: #323330;
  font-weight: bold;
  padding: 2px 7px;
}

.node{
  background-color: #3c873a;
  color: ghostwhite;
  font-weight: bold;
  padding: 2px 7px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}

input[type=email]{
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

form{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

footer{
  color: #f2f2f2;
  margin: 0;
  text-align: center;
}

footer p{
  margin: 0;
}

.add-style{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.contact-me{
  margin-top: 50px;
}

.card{
  background-color: white;
  border: 10px solid rgba(0, 0, 0, 0.63);
  max-width: 500px;
  border-radius: 15px;
  font-family: sans-serif;
  text-align: center;
}

.card-wrapper{
  display: flex;
  /* display: none; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* background: rgba(43, 214, 214, 0.48); */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid rgba(43, 214, 214, 0.3);
  z-index: 99;
}

.top-curve{
  width: 100%;
  height: 110px;
  border-bottom-left-radius:50%;
  border-bottom-right-radius: 50%;
  background-image: linear-gradient(90deg, cyan, rgb(64, 156, 209));
  box-shadow: 0px 5px 0px rgba(36, 176, 219, 0.308);
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-text{
  color: ghostwhite;
  padding: 50px;
  text-transform: uppercase;
}

.section1-name{
  margin-top: 20px;
}

.name-text{
  margin-bottom: 20px;
  color: rgb(243, 98, 98);
  font-size: 2rem;
  text-decoration: underline;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form2{
  display: none;
}

.hold-span-tags{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.span_el {
  font-family: 'Caprasimo', sans-serif;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 3rem;
  cursor: pointer;
  letter-spacing: 0.05em;
}

.close-btn{
  background-color: transparent;
  position: absolute;
  font-size: 1.2rem;
  color: white;
  right: 10px;
  top: 10px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.close-btn:hover{
  /* border: 1px dashed rgba(0, 0, 0, 0.329); */
  background-color: ghostwhite;
  color: black;
}

.p_el {
  font-size: 2rem;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  margin: 0;
}

.big {
  scale: 1.4;
  transition: 0.02s;
}

@media (max-width: 1000px){
  body{
    /* background-image: unset; */
    background-size: unset;
  }
  .section-title{
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
  }
  .home-section{
    color: black;
  }
  .project1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .project2{
    flex-direction: column-reverse;
  }
  .a-tags{
   display: flex;
   justify-content: center;
  }
  .hold-span-tags{
    color: black !important;
  }
}
